@model WukkamanCleaningAgencyFrontend.Models.Employee

@{
    ViewData["Title"] = "Add Or Edit Employee Details";
}

<div class="row mt-4">
    <div class="col-md-6 offset-md-3">
        <h4 class="heading" style="color: #B6244F;">@ViewData["Title"]</h4>
        <hr />
        <form asp-action="Upsert" class="body-text">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn heading w-50 fs-5 body-text py-2" style="color: white; background-color: #B6244F ; border-radius: 999px; font-weight: bold" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <a asp-action="Index" class="btn btn-secondary w-100 fs-5 body-text" style="border-radius: 999px; font-weight: bold" >View All</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
