
@{
    ViewData["Title"] = "Home Page";
}

<div class="wrap">
    <img src="/images/image.png" class="w-100" />
    <div class="content w-100 h-100 d-flex justify-content-between align-items-center background-image-cover px-3">
        <div class="d-flex flex-column justify-content-center align-items-center w-100">
            <h1 class="heading m-0 text-light text-center" style="font-size: 4rem; line-height: 1;">Welcome to 
                <span style="color: #B6244F;">
                WukkaMan <br /> Cleaning</span> Agency
            </h1>
            <p class="text-light body-text fs-4 mt-4">Your Trusted Partner in Office Cleaning Services</p>
        </div>
    </div>
</div>
<form asp-action="NavToShift">
    <div class="d-flex justify-content-center" style="height: 20vh;">
        <div class="code-box shadow bg-white d-flex flex-column justify-content-around align-items-center p-4">
            <input class="input-defaults w-100 py-2" name="EmployeeCode" placeholder="Code*" />
            <input class="btn heading w-75 py-2" style="color: white; background-color: #B6244F ; border-radius: 999px;"  type="submit" value="CLOCK IN" />
        </div>
    </div>
</form>
<div class="container d-flex">
    <div style="width: 70%;">
        <h1 class="heading">Why Choose <span style="color: #B6244F;">WukkaMan Cleaning</span> Agency?</h1>
        <p class="mt-4 body-text">At WukkaMan Cleaning Agency, we understand the importance of a clean and well-maintained office environment. A clean workspace not only enhances the overall aesthetic appeal but also contributes to a healthier and more productive work atmosphere.</p>
    </div>
    <div style="width: 30%;">
        <img class="w-100" style="margin-top: -5rem;" src="/images/klipartz.com.png"  />
    </div>
</div>
<div class="d-flex">
    <div class="wrap w-50">
        <img src="/images/cleaning-cart.png" class="w-100"/>
        <div class="background-image-cover content w-100 h-100 d-flex justify-content-center align-items-center" style="padding: 5rem;">
            <h1 class="text-light heading text-center" style="font-size: 4rem;">Our Commitment to Cleanliness</h1>
        </div>
    </div>
    <div class="w-50" style="background-color: #FBB7C0;">
        <div class="d-flex justify-content-center align-items-center flex-column w-100 h-100" style="padding: 5rem;">
            <h1 class="tect-center text-light heading">Elevate Your Workspace with WukkaMan Cleaning Agency</h1>
            <p class="tect-center text-light body-text mt-4">Count on us for consistent and reliable cleaning services. We prioritize punctuality and efficiency in every job we undertake.</p>
        </div>
    </div>
</div>
<div class="my-5">
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-column align-items-center">
                <img class="my-5 w-50" src="/images/professionalism.svg"/>
                <h1 class="heading fs-3 text-center" style="color: #B6244F;">Professionalism</h1>
            </div>
            <div class="col d-flex flex-column align-items-center">
                <img class="my-5 w-50" src="/images/customized-solutions.svg"/>
                <h1 class="heading fs-3 text-center" style="color: #B6244F;">Customized Solutions</h1>
            </div>
            <div class="col d-flex flex-column align-items-center">
                <img class="my-5 w-50" src="/images/reliability.svg"/>
                <h1 class="heading fs-3 text-center" style="color: #B6244F;">Reliability</h1>
            </div>
            <div class="col d-flex flex-column align-items-center">
                <img class="my-5 w-50" src="/images/client-satisfaction.svg"/>
                <h1 class="heading fs-3 text-center" style="color: #B6244F;">Client Satisfaction</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="body-text mt-5 text-center">Our team is comprised of highly trained and experienced cleaning professionals who take pride in their work.</p>
            </div>
            <div class="col">
                <p class="body-text mt-5 text-center">We understand that every office is unique. Our services can be tailored to meet your specific cleaning needs and schedule.</p>
            </div>
            <div class="col">
                <p class="body-text mt-5 text-center">Count on us for consistent and reliable cleaning services. We prioritize punctuality and efficiency in every job we undertake.</p>
            </div>
            <div class="col">
                <p class="body-text mt-5 text-center">Your satisfaction is our priority. We strive to exceed expectations and ensure a clean and comfortable working environment for your team.</p>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a class="btn heading w-75 py-2 my-5" style="color: white; background-color: #B6244F ; border-radius: 999px;" asp-area="" asp-controller="Home" asp-action="Privacy">LEARN MORE</a>
            </div>
            <div class="col d-flex justify-content-center">
                <a class="btn heading w-75 py-2 my-5" style="color: white; background-color: #B6244F ; border-radius: 999px;" asp-area="" asp-controller="Home" asp-action="Privacy">LEARN MORE</a>
            </div>
            <div class="col d-flex justify-content-center">
                <a class="btn heading w-75 py-2 my-5" style="color: white; background-color: #B6244F ; border-radius: 999px;" asp-area="" asp-controller="Home" asp-action="Privacy">LEARN MORE</a>
            </div>
            <div class="col d-flex justify-content-center">
                <a class="btn heading w-75 py-2 my-5" style="color: white; background-color: #B6244F ; border-radius: 999px;" asp-area="" asp-controller="Home" asp-action="Privacy">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>
<div class="wrap my-5">
    <img src="/images/sweeping.png" class="w-100" />
    <div class="content w-100 h-100 d-flex justify-content-between align-items-center background-image-cover px-3">
        <div class="d-flex flex-column justify-content-center align-items-center w-100">
            <h1 class="text-light heading my-3">Customer Reviews</h1>
            <p class="text-light body-text">4.5 rating out of 36458 reviews</p>
            <div class="container my-3">
            <div class="row">
                <div class="col">
                    <div class="shadow bg-white d-flex align-items-center flex-column p-5" style="border-radius: 50px;">
                        <img class="w-25" src="/images/user1.png"/>
                        <h2 class="heading fs-4 mt-2">Jonathan K., CEO</h2>
                        <div>
                            <i class="fa-solid fa-star" style="color: #FDCC0D;"></i>
                            <i class="fa-solid fa-star" style="color: #FDCC0D;"></i>
                            <i class="fa-solid fa-star" style="color: #FDCC0D;"></i>
                            <i class="fa-solid fa-star" style="color: #FDCC0D;"></i>
                            <i class="fa-regular fa-star" style="color: #FDCC0D;"></i>
                        </div>
                        <p class="body-text text-center mt-2" style="font-size: 0.7rem;">"I can't express how impressed I am with WukkaMan Cleaning Agency. They understand the importance of a clean and organized office. Their team is professional, punctual, and the results speak for themselves. Highly recommended!"</p>
                    </div>
                </div>
                <div class="col">
                    <div class="shadow bg-white d-flex align-items-center flex-column p-5" style="border-radius: 50px;">
                        <img class="w-25" src="/images/user2.png"/>
                        <h2 class="heading fs-4 mt-2 text-center">Alex M., Small Business Owner</h2>
                        <div>
                            <i class="fa-solid fa-star" style="color: #FDCC0D;"></i>
                            <i class="fa-solid fa-star" style="color: #FDCC0D;"></i>
                            <i class="fa-solid fa-star" style="color: #FDCC0D;"></i>
                            <i class="fa-solid fa-star" style="color: #FDCC0D;"></i>
                            <i class="fa-regular fa-star" style="color: #FDCC0D;"></i>
                        </div>
                        <p class="body-text text-center mt-2" style="font-size: 0.7rem;">"As a small business owner, outsourcing our cleaning needs to WukkaMan has been a smart decision. It allows us to focus on what we do best, knowing that our office is in capable hands. The regular updates and flexibility in scheduling make them stand out. Highly recommended!"</p>
                    </div>
                </div>
                <div class="col">
                    <div class="shadow bg-white d-flex align-items-center flex-column p-5" style="border-radius: 50px;">
                        <img class="w-25" src="/images/user3.png"/>
                        <h2 class="heading fs-4 mt-2">Emily T., Office Manager</h2>
                        <div>
                            <i class="fa-solid fa-star" style="color: #FDCC0D;"></i>
                            <i class="fa-solid fa-star" style="color: #FDCC0D;"></i>
                            <i class="fa-solid fa-star" style="color: #FDCC0D;"></i>
                            <i class="fa-solid fa-star" style="color: #FDCC0D;"></i>
                            <i class="fa-regular fa-star" style="color: #FDCC0D;"></i>
                        </div>
                        <p class="body-text text-center mt-2" style="font-size: 0.7rem;">"WukkaMan Cleaning Agency has been a game-changer for our office. The attention to detail is unparalleled, and they consistently go above and beyond. Our workspace has never looked this good. Thank you for your exceptional service!"</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>